---
import HeroBlock from "./HeroBlock.astro";
import TrustBarBlock from "./TrustBarBlock.astro";
import StatsCounterBlock from "./StatsCounterBlock.astro";
import ServicesGridBlock from "./ServicesGridBlock.astro";
import TestimonialsBlock from "./TestimonialsBlock.astro";
import CtaSectionBlock from "./CtaSectionBlock.astro";
import TextWithImageBlock from "./TextWithImageBlock.astro";
import FaqSectionBlock from "./FaqSectionBlock.astro";
import GallerySectionBlock from "./GallerySectionBlock.astro";
import VideoSectionBlock from "./VideoSectionBlock.astro";
import RichTextBlock from "./RichTextBlock.astro";
import FormSectionBlock from "./FormSectionBlock.astro";

interface Props {
  blocks: Array<{ _type: string; _key: string; [key: string]: unknown }>;
}

const { blocks = [] } = Astro.props;
---

{
  blocks.map((block) => {
    switch (block._type) {
      case "hero":
        return <HeroBlock {...block} />;
      case "trustBar":
        return <TrustBarBlock {...block} />;
      case "statsCounter":
        return <StatsCounterBlock {...block} />;
      case "servicesGrid":
        return <ServicesGridBlock {...block} />;
      case "testimonials":
        return <TestimonialsBlock {...block} />;
      case "ctaSection":
        return <CtaSectionBlock {...block} />;
      case "textWithImage":
        return <TextWithImageBlock {...block} />;
      case "faqSection":
        return <FaqSectionBlock {...block} />;
      case "gallerySection":
        return <GallerySectionBlock {...block} />;
      case "videoSection":
        return <VideoSectionBlock {...block} />;
      case "richText":
        return <RichTextBlock {...block} />;
      case "formSection":
        return <FormSectionBlock {...block} />;
      default:
        return (
          <div class="py-8 bg-bg-card text-center" data-block-type={block._type} data-key={block._key}>
            <p class="text-text-dim text-sm">
              Unknown block type: <code>{block._type}</code>
            </p>
          </div>
        );
    }
  })
}
